In [5]:
import matplotlib.pyplot as plt
import random
import math
import pandas as pd

In [2]:
df=pd.read_csv('Book1.csv')
df.head()

   X1  X2  Y
0  30  68  1
1  30  69  1
2  93   0  0
3  69  52  0
4  43  84  1

In [1]:
X1 = df["X1"].values.tolist()
X2 = df["X2"].values.tolist()
Y = df["Y"].values.tolist()

for i in range(len(Y)):
    if Y[i] == 0:
        plt.plot(X1[i], X2[i], "r+")
    else:
        plt.plot(X1[i], X2[i], "g+")

NameError: name 'df' is not defined